<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="<%= url('/add_space.css') %>" rel="stylesheet" />
</head>

<h1>Add Your Space</h1>

<form action='/confirm_add' method='post'>
  <input type="text" name="name" placeholder="Name">
  <input type="text" name="description" placeholder="Description">
  <input type="text" name="price" placeholder="Price per night">
  <input type="text" name="start_date" placeholder="Start date">
  <input type="text" name="end_date" placeholder="End date">
  <input type="submit" name="submit" value="Submit">
</form>
