<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="<%= url('/add_space.css') %>" rel="stylesheet" />
</head>

<main>
  
<h1>Add Your Space</h1>

<form action='/confirm_add' method='post'>
  <input type="text" name="name" placeholder="Name">
  <input type="text" name="description" placeholder="Description">
  <input type="text" name="price" placeholder="Price per night">
  <input type="text" name="start_date" placeholder="Start date">
  <input type="text" name="end_date" placeholder="End date">
  <input type="submit" name="submit" value="Submit">
</form>

</main>


<style>

  body {
    background-image: url("https://bit.ly/3bRCi1O");
    /* background-image: url("https://www.soyacincau.com/wp-content/uploads/2020/04/200419-airbnb-backgrounds-download-1.jpg"); */
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
  }

  main {
    min-height: 100vh;
    background-image: linear-gradient(to bottom, rgba(0,0,0, 0.25), rgba(0,0,0,0.3));
  }

  h1 {
    padding: 60px 30px;
    font-family: Arial;
    font-weight: lighter;
    color: white;
    font-size: 2.5em;
  }

  input[type=text] {
    width: 15%;
    padding: 5px 5px;
    margin: 8px 8px;
    font-size: 1em;
    box-sizing: border-box;
    border-radius: 4px;
  }

  input[type=submit] {
   width: 200 px;
   /* margin: 8px 50px; */
   /* margin: 10px 10px 10px 50px; */
   box-sizing: border-box;
   border: 2px solid #ccc;
   border-radius: 4px;
   font-size: 1em;
   background-color: #ffba00;
   /* padding: 12px 20px 12px 40px; */
  }

</style>
