<h1>Add Your Space</h1>
<form action='/confirm_add' method='post'>
  <input type="text" name="name" placeholder="Name">
  <input type="text" name="description" placeholder="Description">
  <input type="text" name="price" placeholder="Price per night">
  <input type="text" name="date" placeholder="Date available">
  <input type="submit" name="submit" value="Submit">
</form>
