<h1> Hello Breakers! </h1>
<form action="/user/new" method="get">
  <input type="submit" value="Sign up">
</form>
<form action="/user/login" method="get">
  <input type="submit" value="Log in">
</form>
