<h1>Log in below</h1>

<form action="/user/new" method="post">
  <input type="text" name="email" placeholder="Email">
  <input type="text" name="password" placeholder="Password">
  <input type="submit" value="Log in">
</form>
