<h1>Sign up below</h1>

<form action="/user/new" method="post">
  <input type="text" name="first-name" placeholder="First name">
  <input type="text" name="last-name" placeholder="Last name">
  <input type="text" name="email" placeholder="Email">
  <input type="text" name="password" placeholder="Password">
  <input type="text" name="confirm-password" placeholder="Confirm password">
  <input type="submit" value="Submit">
</form>
