<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="<%= url('/sign_up.css') %>" rel="stylesheet" />
</head>

<h3>
  <%= flash[:notice] %>
</h3>

<h1>Sign up below</h1>

<form action="/user" method="post">
  <input type="text" name="first_name" placeholder="First name">
  <input type="text" name="last_name" placeholder="Last name">
  <input type="text" name="email" placeholder="Email">
  <input type="text" name="password" placeholder="Password">
  <input type="text" name="confirm_password" placeholder="Confirm password">
  <input type="submit" value="Submit">
</form>
